html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','sans-serif',
    'Apple Color Emoji','Segoe UI Emoji', 'Segoe UI Symbol';
}

.app-layout {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  max-width: 1500px;
  width: 90%;
  padding: 40px 0 40px 0;
}

.progress-spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

