html, body, #root, .app-layout {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','sans-serif',
    'Apple Color Emoji','Segoe UI Emoji', 'Segoe UI Symbol';
}

.app-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fafafa;
}

main {
  align-self: center;
  flex: 1 1 auto;
  max-width: 1200px;
  width: 90%;
  padding: 20px 0 20px 0;
}

main > * {
  margin: 20px 0 20px 0;
}

.inline-card-left {
  margin-right: 20px;
}

.progress-spinner-container {
  display: flex;
  justify-content: center;
}

